body{
    background-color: rgb(236, 236, 236) !important;
}

li{
    list-style: none;
}

.nav-brand{
    padding-left: 10px;
}
.menu{
    font-size: 20px;  
}
.menu:hover{
    border-top: 4px solid rgba(0, 126, 133, 1);
    font-weight: 500;  
    color: rgba(0, 126, 133, 1);
    cursor: pointer;
}
.menu a{
    text-decoration: none;
    color: black;
}
.menu:hover a{
    color: rgba(0, 126, 133, 1);
}

.banner-container{
    width: 1100px;
    margin: auto;
    margin-top: 100px;
}
.banner{
    background: linear-gradient(66.15deg, rgba(123, 204, 194, 0.33) -5.25%, rgba(72, 190, 206, 0.34) 35.43%, #56BED5 66.69%);
    box-shadow: 4px 4px 8px gray;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 80px;
    border-radius: 10px;
}
.banner-greeding{
    padding-left: 80px;
    padding-bottom: 10px;
}
.banner-username{
    color: rgba(0, 126, 133, 1);
    font-weight: 650;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: text;
}
.banner-heading{
    color: rgba(43, 105, 119, 1);
    font-weight: 650;
    font-size: 40px;
    line-height: 98%;
    letter-spacing: 0%;
    text-transform: capitalize;
}
.banner-description{
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 4%;
    text-transform: capitalize;
}
.bn-img{
    width: 500px;
    margin-top: -190px;
}


.service-container{
    width: 1100px;
    margin: auto;
    margin-top: 120px;
}
.service-header{
    font-size: 40px;
    color: rgba(0, 126, 133, 1);
    margin-bottom: 40px;
}
.service-description{
    margin-bottom: 60px;
}

.doctors-container{
    width: 1200px;
    margin-top: 100px !important;
}

#search{
    width: 90%;
    border: none;
    border-radius: 40px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#search-btn{
    color: white;
    background-color: rgba(0, 126, 133, 1);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-bg{
    color: white !important;
    background-color: rgba(6, 171, 161, 1) !important;
}

.dropdown-menu{
    background-color: rgba(113, 215, 203, 1) !important;
}

.dropdown-item{
    color: white !important;
}

.dropdown-item:hover{
    background-color: rgba(6, 171, 161, 1) !important;
}

.dropdown-item a{
    color: white !important;
    text-decoration: none;
}

.doc-card {
    width: 380px !important;
    height: 500px !important;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-card{
    width: 250px;
    height: 300px;
    box-shadow: 4px 4px 8px gray;
    border-radius:10px;
    /* padding: 40px 40px 40px 80px; */
}
.review-card img{
    width: 70px;
    height: 70px;
    border-radius:50px;
}


.doctor-details-img{
    width: 300px !important;
    height: 300px !important;
    border-radius: 200px;
    border: 10px solid rgb(232, 232, 232);
}
.user-detais-container{
    height: 100vh;
    width: 75%;
    margin: auto;
}
.user-img img{
width: 200px;
height: 200px;
border-radius:100px;
}
.user-all{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.all-appointment-container{
    width: 90%;
    margin: auto;
    height: 100vh;
}


footer{
    padding: 50px;
    color: white;
    background: linear-gradient(66deg, #1CA8C7 -5.25%, #439FA5 46.76%, #4C7D8C 98.77%);;
}