{% extends "base.html" %}
{% load static %}

{% block content %}
        
        <div class="all-posts my-2 row d-flex justify-content-evenly" style="width: 80%;"> 
                <div class="col-sm-6 " style="width: 40%;">
                    <div class="card my-3 p-3" >
                        <div class="card-body">
                            {% if car.images %}
                        
                            {% comment %} <div class="text-center">
                                <img src="{{ post.image.url }}" class="card-img-top mx-auto" alt="" style="width: 80%; height: auto;">
                            </div> {% endcomment %}

                            <div id="carousel{{ car.id }}" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    {% for img in car.images.all %}
                                        <button type="button" data-bs-target="#carousel{{ car.id }}" data-bs-slide-to="{{ forloop.counter0 }}"
                                            {% if forloop.first %} class="active" aria-current="true" {% endif %}
                                            aria-label="Slide {{ forloop.counter }}">
                                        </button>
                                    {% endfor %}
                                </div>
                                <div class="carousel-inner">
                                    {% for img in car.images.all %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %} ratio ratio-4x3">
                                            <img src="{{ img.image.url }}" class="img-fluid" alt="Car Image" style="object-fit: cover;">
                                        </div>
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ car.id }}" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ car.id }}" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>


                            {% endif %}
                            <h4 class="card-title mt-4">{{ car.name }}</h4>
                            {% comment %} <p class="card-text">{{ post.content |truncatewords:40 }}</a></p>  {% endcomment %}
                            <p>Price : {{ car.price }}</p>
                            <p>Brand Name : {{ car.brand.name }}</p>
                            {% comment %} <a class="btn btn-info btn-sm text-decoration-none text-black" href="{% url 'DetailsPage' car.id %}">View Details</a> {% endcomment %}
                            <button type="button" class="btn btn-info btn-sm">View Details</button>
                            
                        </div>
                    </div>
                    <!-- provide a image field in the Posts and update the database -->
                    <!-- <img src="..." class="card-img-bottom" alt="..."> --> 
                </div>
        </div>
    </div>

{% endblock content %}