{% extends "base.html" %}

{% block content %}
    <h1 class="text-center my-5">This Home Page</h1>
    <table class="table table-bordered w-75 mx-auto">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Musician Name</th>
            <th scope="col">Email</th>
            <th scope="col">Album Rating</th>
            <th scope="col">Instrument Type</th>
            <th scope="col">Album Name</th>
            <th scope="col">Release Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for musician in musicians %}

                <tr>
                <th scope="row">{{ musician.id }}</th>
                <td>{{ musician.first_name }} {{ musician.last_name }}</td>
                <td>{{ musician.email }}</td>
                <td>{{ musician.albums.rating }}</td>
                <td>{{ musician.instrument_type }}</td>
                <td>{{ musician.album_name }}</td>
                <td>{{ musician.album_release_date }}</td>
                <td>
                    <button class="btn btn-info">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </td>
                </tr>

            {% endfor %}
        </tbody>
      </table>
{% endblock content %}