{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="card mb-3" >
        <div class="row g-0">
            
            {% if book.image %}
                <div class="ratio ratio-4x3">
                    <img src="{{ book.image.url }}" class="img-fluid" alt="Book Image" style="object-fit: cover;">
                </div>
            {% endif %}
        
            <div class="card-body w-50 my-auto col-md-6 " >
                <div class="mx-auto mb-1" style="width: 80%;">

                    
                    <h1 class="card-title ">{{ book.title }}</h1>
                    <p class="card-text"><b>Description :</b> {{ book.description }}</p>
                    <p>Category : 
                        {% for cat in book.category.all %}
                           <button class="btn btn-info btn-sm m-2">{{ cat.name }}</button>
                        {% endfor %}
                    </p>
                    <p class="card-text"><b>Price :</b> {{ book.price }} Taka</p>
                    
                    {% comment %} {% if request.user.is_authenticated %}
                    <form method="post" action="{% url 'BuyNowPage' book.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success ">Buy Now</button>
                    </form>
                    {% endif %} {% endcomment %}
                </div>
                
            </div>

        </div>
    </div>


    <div class="card mx-3 p-3">
        <div class="card-body">
            <h5>Total comment's : {{ comments | length }}</h5>
            
            {% for comment in comments %}
                <div class="card p-3 mb-3 mx-auto" style="width: 50%;">
                    <div class="card-body">
                        <div class="d-flex mb-3">
                            {% comment %} <img src="" class="rounded-circle me-3" alt="User Avatar"> {% endcomment %}
                            <div class="d-flex align-items-center w-100">
                                <h5 class="card-title mb-0">{{ comment.name }}</h5>
                                <small class="text-muted ms-auto" style="">Commented on {{ comment.created_at }}</small>
                            </div>
                        </div>
                        <p class="card-text">{{ comment.comment }}</p>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-sm btn-outline-primary me-2">
                                <i class="bi bi-hand-thumbs-up"></i> Like
                            </button>
                            <button class="btn btn-sm btn-outline-secondary">
                                <i class="bi bi-reply"></i> Reply
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="bg-white m-3 p-5 rounded">
        <form class="w-50 m-auto" method="post" >
            <h1 class="text-center">Comments</h1>
            {% csrf_token %}
            {{ form | crispy }}
            <button class="btn btn-info " style="color: navy ;" type="submit">Comment</button>
        </form>
    </div>

{% endblock content %}