.main-container{
    display: flex;
    justify-content: space-around;
}

.product-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap ;
    text-align: center;
    gap: 5px;
    width: 100%;
}

.product-card{
    border: 1px solid gray;
    padding: 10px;
    width: 50%;
    height: auto;
}
.product-card-img{
    width: 150px;
    height: auto;
}

.cart-container{
    width: 50%;
    box-shadow: 4px 4px 8px gray;
    text-align: center;
    margin: auto;
}

.cart-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}