{% extends 'base.html' %}

{% block content %}

<h1>Wellcome Profile Page</h1>
<h1>Hello {{user}}</h1>
<!-- <h1>Hello {{user.username}}</h1> -->
<p><a class="btn btn-info" href="{% url 'passchangepage' %}">Change Passward </a> <a class="btn btn-warning" href="{% url 'passchang2epage' %}">Change Passward without old passward</a></p>

    {% if messages %}
    {% for m in messages %}
    <small {% if m.tags %} class="text-{{m.tags}}" {% endif %}>{{m}}</small>
    {% endfor %}
    {% endif %}
    <div class="w-50 mx-auto">
        <form method="post" novalidate>
            {% load crispy_forms_tags %}
            {% csrf_token %}
            <!-- {{form | crispy}} -->
            {% for fm in form %}
                {{fm.label_tag}}
                {{fm}}
                <p>{{ fm.errors|striptags }}</p>
            {% endfor %}
            <br>
            <button class="btn btn-primary" type="submit">Update</button>
        </form>
    </div>
{% endblock content %}