{% extends 'base.html' %}

{% block content %}
<h1 class="text-center m-5">This is Home Page</h1>

<div class="">
    <div class="text-center row d-flex justify-content-center mx-auto" style="width: 85%;">
        {% for task in tasks %}
        <div class="col-4 d-flex justify-content-center py-5">
            <div class="card text-center" style="width: 26rem; ">
                <div class="card-body">
                    <h2 class="card-title">{{task.title}}</h2>
                    <p class="card-text">{{task.description}}</p>
                    <p>Category : 
                        {% for cat in task.categories.all %}
                            <button class="btn btn-info btn-sm m-2">{{ cat.category_name }}</button>
                        {% endfor %}
                    </p>
                    <a href="{% url 'EditTask' task.id %}" class="btn btn-primary m-3">Edit</a>
                    <a href="{% url 'DeleteTask' task.id %}" class="btn btn-danger m-3">delete</a>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>
</div>

{% endblock content %}